# 环境变量
.env

# 日志文件
*.log
logs/

# 数据文件
data/
account_values_*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo 